html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

main {
    padding-top: 60px;
}

header {
    position: fixed;
    width: 100%;
}

.app-header {
    margin: 0 auto;
    padding: 0 15px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #C6C6C6;
}

.main-logo {
    width: 127px;
}

.user-avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.user-avatar:hover, 
.user-avantar:focus {
    border: 1px solid black;
    cursor: pointer;
}

.post-header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
}

#post-header-title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
}

#post-header-location {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0px;
}

#post-img {
    width: 100%;
    height: auto;
}

.post-interactions {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 10px;
}

.interaction-btn {
    width: 18px;
    height: auto;
    cursor: pointer;
}

.post-activity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#post-likes {
    margin-bottom: 0;
    font-weight: bold;
}

#usr-comment {
    margin-top: 0;
}

#post-likes,
#usr-comment {
    font-size: 13px;
    padding-left: 13px;
}

#usr-name {
    font-weight: bold;
}